<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	<!-- 加载配置文件 -->
	<properties resource="mysql.properties"></properties>
	<settings>
		<!-- 全局性设置懒加载 -->
		<setting name="lazyLoadingEnabled" value="true" />
		<!-- 当设置为‘true’的时候，懒加载的对象可能被任何懒属性全部加载。否则，每个属性都按需加载。 -->
		<!-- <setting name="aggressiveLazyLoading" value="false" /> -->
		<!-- 在控制台打印查询语句 -->
		<setting name="logImpl" value="STDOUT_LOGGING" />
		<!-- 开启二级缓存 -->
		<setting name="cacheEnabled" value="true" />
	</settings>
	<!-- 配置别名 -->
	<typeAliases>
		<!-- 单个别名定义 -->
		<typeAlias alias="Business" type="com.eec.entity.Business" />
		<!-- 批量别名定义，扫描整个包下的类，别名为类名（首字母大写或小写都可以） -->
		<!-- <package name="com.eec.entity" /> -->
	</typeAliases>

	<!-- 和spring整合后 environments配置将废除 -->
	<environments default="development">
		<environment id="development">
			<!-- 使用JDBC事务管理 -->
			<transactionManager type="JDBC" />
			<!-- 数据库连接池 -->
			<dataSource type="POOLED">
				<property name="driver" value="${driver}" />
				<property name="url" value="${url}" />
				<property name="username" value="${username}" />
				<property name="password" value="${password}" />
			</dataSource>
		</environment>
	</environments>

	<!-- 配置映射文件 -->
	<mappers>
		<mapper resource="com/eec/dao/BusinessDao.xml" />
	</mappers>
</configuration>